/* colors
	Light Blue: #4BA0B3
	Light Grey: #B3B3B3
	Turqoise: #226E80
	Dark Grey: #666666
	White: #FFFFFF
*/

body{
	margin:0 auto;
	padding:0;
	background-color:#cccccc;
	line-height:1.25em;
	font-size:16px;
	font-family: 'Droid Serif', serif;
	background-image:url('../img/bg.png');
	background-repeat: repeat;
	color:#666666;
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Droid Sans', sans-serif;
	color:#226E80;
}

#container{
	width:960px;
	margin:0 auto;
	padding:0;
	background-color:#ffffff;
}
a{
	text-decoration:none;
}

a:link,a:visited{
	color:#666666;
}

a:hover, a:active{
	color:#cccccc;
}
#header{
	height:160px;
	float:left;
	width:960px;
	background-color:#000000;
	
}

#header a{
	padding:20px 0 5px 20px;
	display:block;
	float:left;
	width:350px;
}

#content{
	clear:both;
}

#slide_show{
	border-top:5px solid #cccccc;
	border-bottom:5px solid #cccccc;
	padding:0;
	margin:0;
	height:400px;
	background-color:#226E80;
	clear:both;
	width:960px;
}

#slide_show #slide{
float:left;
padding: 0;
margin:0;
}

#slide_show img{
	margin:0;
	padding:0;
	float:left;
}

/*App description left col width 480px total*/
#app_description{
	width:440px;
	padding:10px 20px;
	float:left;
}

/*Install info right col width 480px total*/
#install_info{
	width:440px;
	padding:10px 20px;
	float:left;
	text-align:center;
}

#video{
	width:350px;
	height:250px;
	padding:20px 45px;
}

#footer{
	clear:both;
	background-color:#000000;
	height:100px;
	border-top:5px solid #cccccc;
	padding-top:15px;
	color:#bcbcbc;
	text-align:center;
}

#footer span{
	width:960px;
	padding:5px 0;
	float:left;
}